/* ========== FONTS ========== */

@font-face {
    font-family: 'Helvetica';
    src: url(fonts/helvetica-lt.ttf);
}

@font-face {
    font-family: 'Helvetica-Thin';
    src: url(fonts/helvetica-lt-35-thin.ttf);
}

/* ========== GENERAL ========== */

body {
    width: 1200px;
    margin: auto;
    font-family: 'Helvetica', sans-serif;
    color: #493729;
}

h2 {
    margin: 4rem 0 0.8rem 0;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 0.05rem;
    padding-bottom: 0.8rem;
    border-bottom: 2px solid #71a74f;
}

h3 {
    margin: 2.4rem 0 0.6rem 0;
    text-transform: uppercase;
    font-size: 1.21rem;
    letter-spacing: 0.05rem;
}

h4 {
    margin: 0.6rem 0;
    font-weight: normal;
    font-size: 1rem;
}

ul {
    margin-bottom: 0.5rem;
}

.gauche {
    width: 33%;
    background-color: #71a74f;
    display: flex;
    flex-direction: column;
}

.droite {
    width: 67%;
}

/* ========== HEADER ========== */

header {
    display: flex;
    flex-wrap: wrap;
}

/* -------- Header - Section gauche -------- */

header .gauche {
    display: flex;
    flex-direction: column;
    padding-top: 3.5rem;
    align-items: center;
}

header img {
    border-radius: 110px;
    height: 220px;
    border: 5px solid #81b75f;
}

/* -------- Header - Section droite -------- */

header .droite {
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
    justify-content: center;
}

header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 3.8rem;
    padding: 0 4rem;
    border: none;
}

.prenom {
    color: #71a74f;
}

.nom{
    font-family: Helvetica-Thin, sans-serif;
}

header h2 {
    display: table;
    margin: 0.2rem 0;
    border-bottom: 0;
    padding: 0 4rem;
    text-transform: none;
    font-size: 1.6rem;
    line-height: 2.2rem;
    letter-spacing: 0.1rem;
}

header h2:after {
    display: block;
    content: '';
    width: 80px;
    border-bottom: 2px solid #71a74f;
}

/* ========== MAIN ========== */

main {
    display: flex;
    flex-wrap: wrap-reverse;
}

/* -------- Main - Section gauche -------- */

.gauche h2 {
    color: #71a74f;
    background-color: #493729;
    margin: 2.5rem 0 0 0;
    border: 0;
    padding: 0.5rem 0;
    text-align: center;
}

.gauche div {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.gauche p {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 0;
}

.moi {
    letter-spacing: 0.1rem;
}

.loisirs {
    margin-top: auto;
}

.loisirs div {
    display: flex;
    justify-content: space-around;
    padding: 1.8rem 3rem 2.2rem 3rem;
}

.loisirs .fas {
    font-size: 3rem;
    line-height: 4rem;
    width: 4rem;
    color: #493729;
    text-align: center;
    padding: 0;
    border: 2px solid #493729;
    border-radius: 2rem;
}

/* -------- Main - Section droite -------- */

main .droite {
    margin-bottom: 4rem;
}

.droite article {
    padding: 0 3rem 0 4rem;
}

.fas {
    color: #71a74f;
    font-size: 2.2rem;
    padding-right: 2rem;
    vertical-align: middle;
}

.element {
    display: flex;
}

.periode {
    flex: 1;
    margin-top: 2rem;
    font-weight: 500;
}

.periode .far {
    font-size: 1rem;
    padding-right: 1rem;
    color: #71a74f;
}

.periode .fas {
    font-size: 0.5rem;
    padding: 0 1.25rem 0 0.25rem;
    color: #71a74f;
}

.droite .tab {
    margin: 0 2rem;
}

.info {
    flex: 2;
    padding: 0;
}

.info ul, .info p {
    letter-spacing: 0.1rem;
}

.droite p {
    margin: 0.6rem 0;
}

.bloc {
    width: 50%;
    padding-top: 1rem;
}

.bloc h3 {
    margin: 0.5rem 0;
    font-size: 1rem;
}

.droite .bloc p {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

/* ========== MEDIA QUERIES ========== */

@media all and (max-width: 1200px)
{
    body {
        width: auto;
    }
}

@media all and (max-width: 992px)
{
    main .gauche, main .droite {
        width: 100%;
    }
}

@media all and (max-width: 768px)
{
    header .gauche, header .droite, .bloc {
        width: 100%;
    }

    header h1, header h2, .droite article {
        padding: 0 1.5rem;
    }

    .element {
        flex-direction: column;
     }
 }