@font-face {
    font-family: 'Helvetica';
    src: url(fonts/helvetica-lt.ttf);
}

@font-face {
    font-family: 'Helvetica-Thin';
    src: url(fonts/helvetica-lt-35-thin.ttf);
}

body {
    width: 1200px;
    margin: auto;
    font-family: 'Helvetica', sans-serif;
    color: #493729;
}


h1 {
    margin: 4rem 0 0.8rem 0;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 0.05rem;
    padding-bottom: 0.8rem;
    border-bottom: 2px solid #71a74f;
}

h2 {
    margin: 2.4rem 0 0.6rem 0;
    text-transform: uppercase;
    font-size: 1.21rem;
    letter-spacing: 0.05rem;
}

h3 {
    margin: 0.6rem 0;
    font-weight: normal;
    font-size: 1rem;
}

h3 + * {
    letter-spacing: 0.1rem;
}

header {
    display: flex;
}

header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 3.8rem;
    padding: 0 4rem;
    border: none;
}

header h2 {
    display: table;
    margin: 0.2rem 0;
    text-transform: none;
    font-size: 1.6rem;
    line-height: 2.2rem;
    letter-spacing: 0.1rem;
    padding: 0 4rem;
}

header h2:after {
    display: block;
    content: '';
    width: 80px;
    border-bottom: 2px solid #71a74f;
}

header img {
    border-radius: 110px;
    height: 220px;
    border: 5px solid #81b75f;
}

header .droite {
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
    justify-content: center;
}

header .gauche {
    display: flex;
    flex-direction: column;
    padding-top: 3.5rem;
    align-items: center;
}

main {
    display: flex;
    flex-wrap: wrap-reverse;
}

main image {
    width: 8rem;
    height: 8rem;
}

main .droite {
    margin-bottom: 4rem;
}

ul {
    margin-bottom: 0.5rem;
}

.bloc {
    width: 50%;
    padding-top: 1rem;
}

.bloc h2 {
    margin: 0.5rem 0;
    font-size: 1rem;
}

.bullet {
    height: 1rem;
    margin-top: 2rem;
    padding-right: 1rem;
}

.droite {
    width: 67%;
}

.droite article {
    padding: 0 3rem 0 4rem;
}

.droite p {
    margin: 0.6rem 0;
}

.droite .bloc p {
    margin-block-start: 0.3rem;
    margin-block-end: 0.3rem;
}

.element {
    display: flex;
}

.fas {
    color: #71a74f;
    font-size: 2.2rem;
    padding-right: 2rem;
    vertical-align: middle;
}

.gauche {
    width: 33%;
    background-color: #71a74f;
    display: flex;
    flex-direction: column;
}

.gauche div {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.gauche h1 {
    color: #71a74f;
    background-color: #493729;
    margin: 2.5rem 0 0 0;
    border: 0;
    padding: 0.5rem 0;
    text-align: center;
}

.gauche p {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 0;
}

.info {
    flex: 2;
    padding: 0;
}

.loisirs {
    margin-top: auto;
}

.loisirs div {
    display: flex;
    justify-content: space-around;
    padding: 1.8rem 3rem 2.2rem 3rem;
}

.loisirs img {
    border-radius: 32px;
    border: 2px solid #493729;
}

.moi {
    letter-spacing: 0.1rem;
    text-align: justify;
}

.nom{
    font-family: Helvetica-Thin, sans-serif;
}

.periode {
    flex: 1;
    margin-top: 2rem;
    font-weight: 500;
}

.prenom{
    color: #71a74f;
}

@media all and (max-width: 1200px)
{
    body {
        width: auto;
    }
}

@media all and (max-width: 992px)
{
    main .gauche {
        width: 100%;;
    }

    main .droite {
        width: 100%;
    }
}

@media all and (max-width: 768px)
{
   .info {
        width: 100%;
    }

    .periode {
        width: calc(100% - 2rem);
    }
}