@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica-Normal.ttf');
}

@font-face {
    font-family: 'Helvetica-Thin';
    src: url('HelveticaLT35Thin.ttf');
}

body {
    font-family: 'FreeSans';
    color: black;
}

h1 {
    font-weight: normal;
}

h1 .prenom{
    color: burlywood;
}

h1 .nom{
    font-family: Helvetica-Thin;
}

h1, h2, h4 {
    text-transform: uppercase;
}

h5 + * {
    letter-spacing: 0.1rem;
}
